<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">

    <!-- <p>Feide Connect is currently under development.</p> -->

    <ul class="bs-docs-footer-links muted">
      <li>Feide Connect</li>
      <li>&middot;</li>
      <li><a href="http://www.uninett.no">UNINETT AS</a></li>
      <li>&middot;</li>
      <li><a href="http://feide.no">Feide</a></li>
      <li>&middot;</li>
      <li><a href="http://jso.uninett.no">jso</a></li>
      <li>&middot;</li>
      <li><a href="http://simplesamlphp.org">simpleSAMLphp</a></li>
      <li>&middot;</li>
      <li><a href="http://discojuice.org">DiscoJuice</a></li>
      <li>&middot;</li>
      <li><a href="http://httpjs.net">httpjs</a></li>

    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>



{% if site.github %}
<script src="/assets/js/docs.min.js"></script>
{% else %}
<script src="/assets/js/vendor/holder.js"></script>
<script src="/assets/js/vendor/ZeroClipboard.min.js"></script>
<script src="/assets/js/src/application.js"></script>
{% endif %}
{% if page.slug == "customize" %}
<script src="/assets/js/customize.min.js"></script>
{% endif %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>


