<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"><img src="/bower_components/uninett-theme/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
    </div>

    <div class="navbar-department">
      <a href="/"><div class="department">Feide Connect</div></a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

      <ul class="nav navbar-nav">

        <!-- <li{% if page.slug == "docs" %} class="active"{% endif %}>
          <a href="/docs/">Docs</a>
        </li> -->

        <li{% if page.slug == "status" %} class="active"{% endif %}>
          <a href="/status/">Prosjektstatus</a>
        </li>



        <li{% if page.slug == "utvikling" %} class="active"{% endif %}>
          <a target="" href="/utvikling/">Utvikling</a>
        </li>

        <li class="dropdown 
          {% if page.slug == "pilot" %}active{% endif %}
          {% if page.slug == "suhs" %}active{% endif %}
          ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pilot <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
            <li {% if page.slug == "pilot" %} class="active"{% endif %}>
              <a href="/pilot/">Pilot 2015</a></li>

            <li{% if page.slug == "suhs" %} class="active"{% endif %}>
              <a target="" href="/suhs/">SUHS 2014</a>
            </li>
          </ul>
        </li>





<!--         <li{% if page.slug == "utrulling" %} class="active"{% endif %}>
          <a target="#" class="" href="/utrulling/">Utrulling</a>
        </li> -->



        <li class="dropdown 
          {% if page.slug == "docs" %}active{% endif %}
          {% if page.slug == "api" %}active{% endif %}
          {% if page.slug == "gatekeeper" %}active{% endif %}
          ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li {% if page.slug == "docs" %} class="active"{% endif %}>
              <a href="/docs/">Getting started</a></li>
            <li {% if page.slug == "api" %} class="active"{% endif %}>
              <a href="/api/">API Reference</a></li>
            <li {% if page.slug == "gatekeeper" %} class="active"{% endif %}>
              <a href="/gatekeeper/">Gatekeeper</a></li>

            <li class="divider"></li>
            <li><a href="https://inspect.{{ site.uwap.domain }}/">API Inspector</a></li>
          </ul>
        </li>
<!--

        <li{% if page.slug == "css" %} class="active"{% endif %}>
          <a target="_blank" href="{{ site.dev }}">Developer Dashboard</a>
        </li>


        <li{% if page.slug == "groups" %} class="active"{% endif %}>
          <a target="_blank" href="{{ site.groups }}">Groups</a>
        </li>
-->
      </ul>

      <ul class="nav navbar-nav navbar-right" style="">
        <li data-toggle="tooltip" data-placement="left" title="Not yet available. Stay tuned" ><button  style="margin-top: 8px" class="btn btn-default" href="#">Login</button></li>
        <!-- <li><a href="http://talk.uninettlabs.no">Community</a></li> -->
        <!-- <li><a href="{{ site.blog }}">Blog</a></li> -->
        <li style="width: 3em"><a href="">&nbsp;</a></li>
      </ul>
    </nav>
  </div>
</header>
