

<li>
	<h3>Connect Pilot.</h3>
</li>

<li {% if page.slug == "pilot-sp" %} class="active"{% endif %}>
	<a href="/docs/pilot-sp/" >For tjenesteleverandører</a>
	<ul class="nav">
		<li><a href="#community">Community</a></li>
		<li><a href="#gettingstarted">Kom i gang</a></li>
		<li><a href="#samskrive">Demotjeneste: Samskrive</a></li>
		<li><a href="#developers">For utviklere</a></li>
		<li><a href="#admin">Tjenesteleverandører</a></li>
		<li><a href="#testusers">Testbrukere</a></li>
		<li><a href="#status">Status</a></li>
		<li><a href="#feedback">Tilbakemeldinger</a></li>
	</ul>
</li>

<li {% if page.slug == "pilot-org" %} class="active"{% endif %}>
	<a href="/docs/pilot-org/">For vertsorganisasjoner</a>
	<ul class="nav">
		<li><a href="#2community">Community</a></li>
		<li><a href="#2gettingstarted">Kom i gang</a></li>
		<li><a href="#2avtaler">Avtaler</a></li>
		<li><a href="#2kundeportal">Åpne i Feides kundeportal</a></li>
		<li><a href="#2katalog">Åpne katalog for grupper</a></li>
		<li><a href="#2ps">Åpne katalog for personsøk</a></li>
		<li><a href="#2fs">Oppkobling mot FS</a></li>
		<li><a href="#2mergrupper">Kobling mot andre kildesystemer</a></li>

		<li><a href="#verify">Verifisering</a></li>
		<li><a href="#2admin">Administratorer</a></li>

		<li><a href="#2status">Status</a></li>
		<li><a href="#2testusers">Testbrukere</a></li>
		<li><a href="#2feedback">Tilbakemeldinger</a></li>
	</ul>
</li>


<li>
	<h3>Documentation</h3>
</li>

