

body {
  padding-top: 0px !important;
}

header.navbar {
  height: 40px !important;
}
.navbar {
  margin-bottom: 0px !important;
}
.nav.navbar-nav {
  /*padding-top: 12px;*/
}
.navbar-brand {
 margin: 0px !important; padding: 0px !important;
}
.navbar-brand img{ 
  padding: 0px;
  padding-top: 2px;
  margin-right: 20px;
  
}
.department {
  margin: 0px !important; padding: 0px !important;
  padding-top: 3px !important;
  margin-right: 20px !important;
}
/* Fix for horizontal srolling */
ul.navbar-right {
  margin-right: 0px !important ; 
  padding-right: 0px !important;
}


body .bs-docs-masthead,
body .bs-docs-header {
  position: relative;
  padding: 30px 15px;
  color: #222;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  border-bottom: 1px solid #8ac0ee;
  border-top: 1px solid #7bd;
  background-color: #90cef1 !important;
  background-image: none;
  background-image:         linear-gradient(to bottom, #80bee1 0%, #99cff4 100%);
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);*/
  background-repeat: repeat-x;

}
.bs-docs-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #444;
}
.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #444;
}
.bs-docs-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #111;
}
.bs-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
    color: #222;
}


ul.uninett-ul {
  padding-top: 0px;
  padding-bottom: 20px;
}